*
{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}
.header
{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;   
      font-weight: 600;
}
.imageDash
{
    margin: 56px;
    width: 32rem;

}